<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>catalogue</servlet-name>
        <servlet-class>Vente.catalogue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendeurPage</servlet-name>
        <servlet-class>Vente.VendeurPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpanier</servlet-name>
        <servlet-class>Vente.addpanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterProduits</servlet-name>
        <servlet-class>Vente.AjouterProduits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Panier</servlet-name>
        <servlet-class>Vente.Panier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate_prod</servlet-name>
        <servlet-class>Vente.Validate_prod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherPanier</servlet-name>
        <servlet-class>Vente.AfficherPanier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>catalogue</servlet-name>
        <url-pattern>/catalogue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendeurPage</servlet-name>
        <url-pattern>/VendeurPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpanier</servlet-name>
        <url-pattern>/addpanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterProduits</servlet-name>
        <url-pattern>/AjouterProduits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Panier</servlet-name>
        <url-pattern>/Panier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate_prod</servlet-name>
        <url-pattern>/Validate_prod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherPanier</servlet-name>
        <url-pattern>/AfficherPanier</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
